.cmpBarChart_container {
  width: 95%;
  max-width: 700px;
  height: 370px;
  margin: 32px auto;
  padding: 24px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  padding-right: 0px;
  padding-left: 40px;
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.cmpBarChart_heading {
  font-family: Inter, sans-serif !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  color: #5f249f;
  margin-left: 10px !important;
  margin-bottom: 16px;
  margin-top: 12px !important;
  }
