.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 5px; /* Adjusts spacing between the text and the component */
}

.title1 h2 {
  color: #5f249f;
  font-size: 16px;
}
