.cmpDateRangePick_button {
  text-transform: none !important;
  color: #5f249f !important;
  text-wrap: nowrap;
  font-weight: 550 !important;
  margin-right: 7px !important;
}
.custom-menu .MuiMenuItem-root.Mui-selected {
  background-color: #5f249f !important;
  color: white !important;
}
.highlighted-range {
  background-color: rgba(0, 128, 255, 0.3); /* Light blue for the range */
  border-radius: 50%; /* Optional: makes it visually appealing */
}
