.cmpHBgraph_container {
  max-width: 500px;
  margin-top: -430px;
  margin-right: 30px;
  height: 373px;
  margin: 32px auto;
  padding: 24px;
  background-color: #f9f9f9;
}
.cmpHBgraph_heading {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #63666a;
  margin-bottom: 2;
}
.cmpHBgraph_legend {
  font-size: 12px;
  color: #63666a;
  display: flex;
  margin-top: -2rem;
  justify-content: flex-end;
}
.cmpHBgraph_legendItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.cmpHBgraph_legendColorBox {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
