.cmpInvTv_container {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cmpInvTv_stickyColumn {
  position: sticky;
  left: 0; /* Keeps it at the left edge while scrolling */
  z-index: 3; /* Ensure it stays above other rows/columns */
  background-color: #fff; /* Match the table header background */
  border-right: 1px solid #ddd; /* Optional: adds a dividing line */
}

.cmpInvTv_tableHeadCell.cmpInvTv_stickyColumn1 {
  position: sticky;
  left: 100;
  background-color: black; /* Ensure the background color matches */
  top: 40px;
  z-index: 10 !important;
}
.cmpInvTv_tableHeadCell.cmpInvTv_stickyColumn {
  padding-top: 0; /* Remove top padding */
  margin-top: 0; /* Remove margin if necessary */
}

.headerClass,
.headerClass-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -15px;
}

.cmpInvTv_title {
  font-size: 1.2rem;
  color: #5f249f;
  white-space: pre-wrap;
  padding-right: 10px;
  padding-bottom: 20px;
}

.cmpInvTv_customizeButton {
  font-family: Inter, sans-serif !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  color: #63666a !important;
  left: 20px !important;
}

.cmpInvTv_shareButton {
  left: 20px !important;
}

.cmpInvTv_fullscreenButton {
  display: flex;
  margin-top: 10px;
  align-items: center;
  left: 20px !important;
}

.cmpInvTv_tableCell {
  color: rgb(82, 32, 134) !important;
  font-size: 0.8rem !important;
  text-align: center !important;
  padding: 13px 16px !important;
  vertical-align: top !important;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 150px; /* Define a consistent width for columns */
}

.cmpInvTv_tableHeadCell {
  background-color: #f0f0f0 !important;
  text-align: center !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  padding: 8px 16px !important;
  width: 150px; /* Match width to maintain alignment */
}

.cmpInvTv_tableHeadCell,
.cmpInvTv_tableFirstRow {
  background-color: #f0f0f0 !important;
  text-align: center !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  padding: 8px 16px !important;
}
.cmpInvTv_stickyFirstRow1 {
  position: sticky !important;
  z-index: 100 !important;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border: 1px solid #ddd;
  text-align: center !important;
  border-left: none !important;
}

.cmpInvTv_stickyFirstRow {
  position: sticky !important;
  top: 40px;
  z-index: 10 !important;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
}

.cmpInvTv_tableContainer {
  max-height: 72% !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  padding-bottom: 38px;
  border: 1px solid #ddd !important;
  border-collapse: collapse;
}

.cmpInvTv_stickyHeader {
  position: sticky !important;
  top: 0 !important;
  z-index: 0 !important;
  background-color: #72509b !important;
  border-left: 1px solid #ddd !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.cmpInvTv_stickyColumn,
.cmpInvTv_stickyFirstRow1 {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

/* Header-specific styling for the sticky column */
.cmpInvTv_stickyFirstRow1 {
  font-weight: bold;
  z-index: 3;
  background-color: #f0f0f0 !important;
}

/* Ensure table row backgrounds are consistent */
.cmpInvTv_tableRow {
  background-color: #fff;
}

/* .cmpInvTv_tableContainer th {
  border: 1px solid black;
  text-align: center !important;
  border-left: none !important;
  position: sticky !important;
  z-index: 10 !important;
} */

.cmpInvTv_tableContainer th:not(.cmpInvTv_stickyFirstRow1) {
  border: 1px solid #ddd;
  text-align: center !important;
  border-left: none !important;
  position: sticky !important;
  z-index: 10 !important;
}
.cmpInvTv_tableHeadCell.cmpInvTv_stickyHeader {
  color: white !important;
}

.cmpInvTv_tableContainer th.cmpInvTv_tableHeadCell,
.cmpInvTv_tableContainer th.cmpInvTv_stickyHeader {
  border-left: 1px solid #ddd !important;
  position: sticky !important;
  top: 40px;
  z-index: 10 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: none;
}

.overlay-contentbox {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  /* width: 80% !important; */
  /* height: 60vh !important; */
  max-width: 900px !important;
  max-height: 400px !important;
  position: relative;
}

.close-overlay {
  position: absolute !important;
  top: -35px !important;
  right: -8px !important;
  background-color: red !important;
  color: white !important;
  padding: 5px 8px !important;
  border-radius: 20% !important;
  cursor: pointer;
  border: none !important;
}

.close-overlay:hover {
  background-color: darkred !important;
}
.overlay-mode .cmpInvTv_tableContainer {
  flex: 1;
  height: 95% !important;
  max-height: calc(95% - 50px) !important;
  overflow-y: auto;
  overflow-x: auto;

  border: 1px solid #ddd !important;
  border-collapse: collapse;
}

.cmpInvTv_smallColumn {
  width: 100px;
  max-width: 80px;
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
  overflow: hidden;
  white-space: nowrap;
  /* white-space: normal; */
}

.cmpInvTv_smallColumn:hover {
  color: rgb(82, 32, 134) !important;
  background-color: #f0f8ff;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

/* Responsive adjustments */
@media (min-width: 1700px) {
  .cmpInvTv_container {
    width: 95% !important;
    height: 45vh !important;
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .cmpInvTv_container {
    width: 90% !important;
  }
}
@media (max-width: 990px) {
  .cmpInvTv_container {
    width: 89% !important;
    margin-left: 2rem;
  }
  .overlay-mode .cmpInvTv_tableContainer {
    flex: 1;
    height: 95% !important;
  }
  .overlay-content {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 700px) {
  .cmpInvTv_container {
    width: 87% !important;
    margin-left: 2.2rem !important;
    margin-top: 2.3rem;
    margin-bottom: 0.3rem !important;
  }
  .cmpInvTv_tableContainer {
    height: 62vh !important;
    padding-bottom: 5px !important;
  }
  .overlay-mode .cmpInvTv_tableContainer {
    flex: 1;
    height: 95% !important;
  }
  .overlay-content {
    margin-top: 1.8rem;
    margin-left: 1.6rem;
  }
}

@media (max-width: 500px) {
  .cmpInvTv_container {
    width: 80% !important;
  }
  .overlay-mode .cmpInvTv_tableContainer {
    flex: 1;
    height: 95% !important;
  }
  .overlay-content {
    width: 75% !important;
    height: 45vh !important;
    margin-left: 3rem !important;
  }
  .cmpInvTv_tableContainer th {
    padding: 3px;
  }
}

@media (max-width: 850px) {
  .cmpInvTv_tableContainer {
    height: 60vh !important;
    padding-bottom: 5px !important;
  }
  .overlay-mode .cmpInvTv_tableContainer {
    flex: 1;
    height: 95% !important;
  }
  .cmpInvTv_container {
    margin-right: 2.3rem;
  }
}

@media (max-width: 431px) {
  .cmpInvTv_tableContainer {
    height: 50% !important;
    padding-bottom: 10px !important;
  }
  .cmpInvTv_container {
    margin-right: 2.5rem;
    margin-left: 1.5rem;
  }
  .overlay-content {
    margin-left: 1.7rem;
  }
}

@media (max-width: 768px) {
  .cmpInvTv_tableCell {
    font-size: 8px !important;
    padding: 10px !important;
  }
  .cmpInvTv_tableContainer th {
    font-size: 8px !important;
  }
}

@media (max-width: 480px) {
  .cmpInvTv_tableCell {
    font-size: 7px !important;
    padding: 8px !important;
  }

  .cmpInvTv_tableContainer th {
    font-size: 7px !important;
  }
  .headerClass-1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 863px) {
  .cmpInvTv_tableContainer {
    height: 65% !important;
  }
}

@media (max-width: 855px) {
  .headerClass {
    flex-direction: column;
    align-items: flex-start;
  }
  .cmpInvTv_title {
    margin-bottom: -12px;
  }

  .cmpInvTv_customizeButton {
    margin-left: -1.5rem !important;
    height: 28px;
  }
}
