.cmpOrphanRB_heading {
    color: #63666A;
    font-size: 14px;
    margin-bottom: 16px
  }
.cmpOrphanRB_buttonContainer {
    position: absolute;
    top: 235;
    left: 1000;
    z-index: 1000;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
.cmpOrphanRB_button {
    font-size: 0.7rem;
    padding: 4px 8px;
    color: #63666A;
    border-color: #63666A;
  }