.cmpPieChart_container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  max-width: 567px !important;
  margin: 16px auto;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.cmpPieChart_chartContainer {
  width: 50%;
}
.cmpPieChart_chart {
  width: 101%;
  height: 200px;
  position: relative;
}
.cmpPieChart_legend {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cmpPieChart_title {
  font-family: Inter, sans-serif !important;
  font-size: 15px;
  font-weight: 700 !important;
  color: #5f249f;
  margin-bottom: 16px;
  margin-left: 15px;
}
