.cmpSvcCat_container {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.cmpSvcCat_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.cmpSvcCat_title {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  color: #5f249f;
  margin-bottom: 8px;
}
.cmpSvcCat_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.cmpSvcCat_button {
  font-family: Inter, sans-serif !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  color: #63666a !important;
  padding: 4px 8px !important;
  border-color: #63666a !important;
  margin-top: -35px !important;
}
.cmpSvcCat_tableContainer {
  border: 1px solid #ddd;
  border-radius: 0;
  overflow: hidden;
}
.cmpSvcCat_tableHeader {
  padding: 4px 8px !important;
  text-align: center !important;
  color: white !important;
  background-color: #72509b;
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
}
.cmpSvcCat_table {
  table-layout: fixed;
}
.cmpSvcCat_nestedRow {
  background-color: #f9f9f9;
}
.cmpSvcCat_cell {
  padding: 4px 8px !important;
  overflow: hidden;
  text-align: center !important;
  color: rgb(82, 32, 134) !important;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid black;
}
.cmpSvcCat_columnHeader {
  text-align: center;
  padding: 4px 8px;
  border-bottom: 1px solid black !important;
  border-left: 1px solid black !important;
  border-top: 1px solid black !important;
  border-right: 1px solid black !important;
  color: black;
}
.cmpSvcCat_indentedCell {
  font-size: 0.8rem;
}
.cmpSvcCat_nestedRow > .cmpSvcCat_tableCell {
  color: rgb(82, 32, 134) !important;
}
