.cmpSvcCat_container {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -4px !important;
  border-radius: 5px;
}

.cmpSvcCat_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: -5px;
}
.cmpSvcCat_title {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  color: #5f249f;
  margin-bottom: 8px;
}
.cmpSvcCat_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.cmpSvcCat_button {
  font-family: Inter, sans-serif !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  color: #63666a !important;
  padding: 4px 8px !important;
  margin-top: -25px !important;
}
.cmpSvcCat_tableContainer {
  border: 1px solid #ddd;
  border-radius: 0;
  overflow: auto;
  overflow-x: auto;
  max-height: 210px !important;
}

.cmpSvcCat_tableContainer1 {
  border: 1px solid #ddd;
  border-radius: 0;
  overflow: auto;
  overflow-x: auto;
  max-height: 170px !important;
}

.cmpSvcCat_tableHeader {
  padding: 8px 8px !important;
  text-align: center !important;
  color: white !important;
  background-color: #72509b !important;
  position: sticky !important;
  top: 0;
  z-index: 10;
  border: 1px solid #ddd !important;
}

.cmpSvcCat_columnHeader_first_header {
  text-align: center !important;
  position: sticky !important;
  top: 0px;
  bottom: 20px;
  left: 0px;
  z-index: 20 !important;
  background-color: #f0f0f0 !important;
  width: 200px;
}

.cmpSvcCat_first_cell {
  width: 200px;
  padding: 4px 8px !important;
  overflow: hidden;
  text-align: left !important;
  color: rgb(82, 32, 134) !important;
  border-right: 1px solid #ddd;
  position: sticky !important;
  top: 0px;
  left: 0;
  z-index: 10;
  background-color: whitesmoke !important;
}

.cmpSvcCat_columnHeader {
  position: sticky !important;
  top: 40px !important;
  z-index: 0;
  text-align: center !important;
  padding: 20px 10px !important;
  border: 1px solid #ddd !important;
  color: black;
  background-color: #f0f0f0 !important;
  width: 150px;
}

.cmpSvcCat_columnHeader1 {
  position: sticky !important;
  text-align: center !important;
  padding: 20px 10px !important;
  border: 1px solid #ddd !important;
  color: black;
  background-color: #f0f0f0 !important;
  width: 150px;
}

.cmpSvcCat_table {
  table-layout: fixed;
  width: 100%;
}

.cmpSvcCat_nestedRow {
  background-color: #f9f9f9;
}
.overlay-mode .cmpSvcCat_tableContainer {
  max-height: 95% !important;
  flex-grow: 1 !important;
}
.cmpSvcCat_cell {
  padding: 4px 8px !important;
  overflow: hidden;
  text-align: center !important;
  color: rgb(82, 32, 134) !important;
  border-right: 1px solid #ddd;
}
.cmpSvcCat_tableCell {
  border-right: 1px solid #ddd;
}
.cmpSvcCat_indentedCell {
  font-size: 0.8rem;
}
.cmpSvcCat_nestedRow > .cmpSvcCat_tableCell {
  color: rgb(82, 32, 134) !important;
}
.service_overlay_content {
  position: relative;
  width: 75%;
  height: 80vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 630px) {
  .cmpSvcCat_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .cmpSvcCat_buttons {
    margin-top: 2.2rem;
  }
}
@media (min-width: 1700px) {
  .cmpSvcCat_container {
    width: 98.2% !important;
    height: 45vh !important;
    margin-left: 0.3rem;
  }
  .cmpSvcCat_tableContainer {
    min-height: 75% !important;
  }
}

@media (max-width: 1200px) {
  .cmpSvcCat_container {
    width: 95.5% !important;
  }
}
@media (max-width: 990px) {
  .cmpSvcCat_container {
    width: 95.5% !important;
    margin-left: 0.2rem;
  }
}

@media (max-width: 700px) {
  .cmpSvcCat_container {
    margin-top: 0.5rem !important;
  }
  .cmpSvcCat_tableContainer {
    max-height: 60% !important;
  }
}

@media (max-width: 500px) {
  .cmpSvcCat_container {
    width: 80% !important;
  }
}

@media (max-width: 850px) {
  .cmpSvcCat_container {
    width: 95% !important;
    margin-left: 0.2rem !important;
  }
}

@media (max-width: 431px) {
  .cmpSvcCat_container {
    margin-left: 0.1rem !important;
    width: 88% !important;
    margin-top: 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .cmpSvcCat_columnHeader,
  .cmpSvcCat_tableCell,
  .cmpSvcCat_cell,
  .cmpSvcCat_tableHeader {
    font-size: 9px !important;
  }
}

@media (max-width: 863px) {
  .cmpSvcCat_tableContainer {
    height: 85vh !important;
  }
}
@media (max-width: 361px) {
  .cmpSvcCat_tableContainer {
    height: 60% !important;
  }
}
