.consumption-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px;
  background-color: white;
}

.top {
  text-align: center;
  margin-top: -270px;
  margin-bottom: -10px;
  font-size: 16px;
  margin-right: 15px;
  color: #5f249f;
}

.tiles-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Ensure elements remain in a row */
}

.tiles-container {
  width: 56%; /* Adjust width as needed */
  padding-right: 0px;
  margin-left: 10px;
  margin-top: 50px;
}

.chart-container {
  width: 60%; /* Ensure the chart container stays side by side */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.chart-wrapper {
  width: 100%;
  height: 300px; /* Adjust the height for the chart */
}

.tile {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #5f249f;
    cursor: pointer;
    .tilename,
    .price {
      color: white;
    }
  }
}

.tilename {
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11px;
}

.price {
  color: orange;
  font-weight: bold;
}

.chart-title {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .tiles-wrapper {
    flex-direction: row;
    justify-content: space-between; /* Keep side-by-side on smaller screens */
  }

  .tiles-container, .chart-container {
    width: 48%; /* Adjust the width for smaller screens */
  }

  .chart-wrapper {
    height: 250px; /* Reduce height on smaller screens */
  }
}