.progress-bar {
  margin-bottom: 20px;
}

.progress-bar-title {
  margin-bottom: 5px;
  color: purple;
  font-weight: bold;
}

.progress-bar-text {
  color: black;
  margin-top: 15px;
  margin-left: 5px;
}
