.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2px;
  gap: 20px; /* Increase space between the buttons */
}

.logo-button {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: grey; /* Light gray to indicate selection */
  border-color: black; /* Azure blue for border color */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.logo-button img {
  object-fit: contain;
}

#cut-btn img {
  height: 35px; /* Height for Azure image */
}

#paste-btn img {
  height: 22px; /* Height for AWS image */
  padding-top: 5px;
}

.logo-button:hover {
  background-color: #ccc;
}