.kpi-container {
    width: 630px;
    height: 265px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.kpi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi-title {
    color: #5f249f;
    font-size: 16px;
    margin: 0;
}

.kpi-dropdown {
    padding: 5px;
}

.kpi-line {
    border-bottom: 2px solid rgba(152, 152, 152, 0.5764705882);
    margin-bottom: 10px;
    width: 100%;
}

.kpi-bottom-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kpi-graph {
    width: 50%;
    padding: 10px;
}