.container {
  position: relative;
  width: 450px; /* Set your desired width */
  height: 178px; /* Adjust height to make the map shorter */
  margin-bottom: 70px; /* Adjust as needed */
  background-color: white; /* Background color of the container */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  padding: 10px; /* Equal padding on all sides to create space inside the white box */
  left: -30px; /* Move the container to the left */
  top: -79px; /* Move the container upward */
}

.map-heading {
  font-family: sans-serif;
  color: #5f249f;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: -20px; /* Position the heading above the container */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 2; /* Ensure heading is above the map container */
}

.map-container {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
  background-color: white;
  overflow: hidden;
  position: relative; /* Position relative to the parent container */
  padding: 10px; /* Equal padding inside the map container */
  box-sizing: border-box; /* Ensures padding is included in width and height */
}