.monthly-forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 16px;
  margin-left: 15px;
  color: #5f249f;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-1 {
  width: 150px;
  height: 70px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  margin-top: 15px;
  margin-left: 50px;
  display: inline-block;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}

.container-2 {
  width: 150px;
  height: 70px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}

.container-1 .number {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  margin-left: 12px;
  color: #00968f;
}
.container-2 .indicator {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 18px;
  margin-left: 40px;
}

.container-2-bottom {
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-left: -50px;
}
