.monthly-forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8px;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 16px;
  color: #5f249f;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.container-1,
.container-2 {
  width: 150px;
  height: 10vh;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  background-color: white;
  margin: 10px;
  margin-top: -0.2rem;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.container-1 .number {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  margin-left: 16px;
  margin-top: -0.1rem;
  color: #00968f;
}

.container-2 .indicator {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  position: relative;
  margin-left: 1rem;
  margin-top: -15px;
  color: #00968f;
}

.container-2-bottom {
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 0px;
  position: absolute;
  margin-left: -12px;
  text-align: center;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures the heading doesn't overflow */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Match container height
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .container-1,
  .container-2 {
    width: 120px;
    height: 60px;
  }

  @media screen {
    .monthly-forecast-container {
      margin-left: -8px;
    }
  }

  .container-1 .number,
  .container-2 .indicator {
    padding: 10px;
  }

  .container-2-bottom {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .number,
  .indicator {
    margin-top: 0.2rem !important;
  }
}

@media (max-width: 668px) {
  .container-1,
  .container-2 {
    height: 15vh !important;
  }
}

@media (min-width: 1400px) {
  .container-1,
  .container-2 {
    height: 8vh !important;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .title {
    position: relative;
    top: 0.8rem;
  }
}

@media (max-width: 666px) {
  .container-1,
  .container-2 {
    height: 11vh !important;
  }
}

@media (max-width: 990px) {
  .container-2-bottom {
    margin-top: -0.3rem;
  }
}
