.monthly-spend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  width: 150px;
  height: 70px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 60px;
  margin-top: 0px;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}
.second {
  width: 150px;
  height: 70px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  padding: 0;
  margin: 15px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}

.first .number {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  margin-left: 12px;
  color: #330072;
}
.second .indicator {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  margin-left: 40px;
}

.second-bottom {
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-left: -50px;
}
