.monthly-spend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.title {
  margin-top: -10px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #5f249f;
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.first,
.second {
  width: 150px;
  height: 10vh;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  background-color: white;
  margin: 10px;
  margin-top: -0.2rem;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.second .indicator {
  display: flex;
  justify-content: space-between;
  height: 77%;
  padding: 20px;
  margin-left: 0px;
  color: #330072;
  margin-top: -7px;
}

.second-bottom {
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures the heading doesn't overflow */
}

.first .number {
  display: flex;
  justify-content: center;
  margin-top: 0rem !important;
  margin-left: 0rem !important;
}
.bill-summary {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.bill-summary h3 {
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-box {
  background: #fff;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  max-height: 60% !important;
  max-width: 80% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .first,
  .second {
    width: 120px;
    height: 60px;
  }

  @media screen {
    .monthly-spend-container {
      margin-left: -8px;
    }
  }

  .first .number,
  .second .indicator {
    padding: 10px;
  }

  .second-bottom {
    font-size: 14px;
  }
}

.first .number {
  display: flex;
  justify-content: center;
  height: 77%;
  padding: 20px;
  color: #330072;
  margin-top: -5px; /* Move the number down */
}

@media (max-width: 668px) {
  .first,
  .second {
    height: 15vh !important;
  }
}

@media (min-width: 1400px) {
  .first,
  .second {
    height: 8vh !important;
    margin-top: 1.5rem;
  }
}

@media (max-width: 666px) {
  .first,
  .second {
    height: 11vh !important;
  }
}

@media (max-width: 990px) {
  .second-bottom {
    margin-top: -0.3rem;
  }
}
