.ondemand-container {
  width: 90%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  background-color: white;
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.ondemand-title {
  font-family: Inter, sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #5f249f !important;
  text-align: left !important;
  margin-top: -1rem !important;
}

.chart {
  width: 100% !important;
  height: 35vh;
  margin-left: -1rem;
  margin-right: 2rem;
  position: relative;
  top: 1.5rem;
  margin-top: -1rem;
  margin-bottom: -0.9rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
   height: 165px; 
} 

@media (max-width: 992px) {
  .ondemand-container {
    width: 45%;
    margin-left: 20.5rem !important;
  }
}

@media (max-width: 768px) {
  .ondemand-container {
    width: 50%;
    margin-left: 20.5rem !important;
  }
}

@media (max-width: 576px) {
  .ondemand-container {
    width: 60% !important;
  }
}
@media (max-width: 1024px) {
  .ondemand-container {
    width: 48% !important;
    margin-left: 20.5rem !important;
  }
}
@media only screen and (width: 1024px) {
  .ondemand-container {
    width: 57% !important;
  }
}
@media only screen and (width: 1180px) {
  .ondemand-container {
    width: 55% !important;
  }
}
@media (max-width: 1500px) {
  .ondemand-container {
    margin-left: 20.38rem !important;
  }
}
@media only screen and (min-width: 1700px) {
  .ondemand-container {
    max-width: 50% !important;
    height: 42vh !important;
    margin-left: 20.5rem !important;
  }
  .chart {
    height: 40vh !important;
  }
}
@media (max-width: 450px) {
  .ondemand-container {
    width: 85% !important;
  }
}
@media (max-width: 400px) {
  .ondemand-container {
    width: 82% !important;
  }
}
@media (min-width: 896px) and (max-width: 897px) {
  .ondemand-container {
    height: 45.5vh !important;
    width: 51.5% !important;
  }
  .chart {
    height: 42vh !important;
  }
}
@media (min-width: 844px) and (max-width: 845px) {
  .ondemand-container {
    height: 46vh !important;
    width: 52% !important;
  }
  .chart {
    height: 43.5vh !important;
  }
}
@media (min-width: 932px) and (max-width: 933px) {
  .ondemand-container {
    width: 57% !important;
    height: 48.5vh !important;
  }
  .chart {
    height: 49vh !important;
  }
}
@media (min-width: 915px) and (max-width: 916px) {
  .ondemand-container {
    width: 56% !important;
    height: 49vh !important;
  }
  .chart {
    height: 48.5vh !important;
  }
}
@media (min-width: 540px) and (max-width: 541px) {
  .ondemand-container {
    width: 41% !important;
  }
}
@media (min-width: 1180px) and (max-width: 1181px) {
  .ondemand-container {
    width: 61.5% !important;
  }
}
@media (min-width: 820px) and (max-width: 821px) {
  .ondemand-container {
    width: 51% !important;
    height: 43vh !important;
  }
}
@media (min-width: 882px) and (max-width: 883px) {
  .ondemand-container {
    height: 47vh !important;
  }
}
@media (min-width: 914px) and (max-width: 915px) {
  .ondemand-container {
    width: 56% !important;
    height: 49vh !important;
  }
  .chart {
    height: 48vh !important;
  }
}
@media (min-width: 768px) and (max-width: 769px) {
  .ondemand-container {
    height: 43.5vh !important;
  }
}
