.ondemand-container {
  width: 569px;
  height: 347px;
  margin: 0 auto;
  top: 20px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ondemand-title {
  font-family: Inter, sans-serif;
  font-size: 18px !important;
  font-weight: 700;
  position: absolute;
  color: #5f249f !important;
  top: 20px;
  left: 34%; /* Centering horizontally */
  transform: translateX(-50%);
  margin: 0; /* Remove margin */
}

.chart {
  position: absolute;
  top: 60px; /* Adjust as needed */
  left: 45%;
  transform: translateX(-50%);
  width: 500px;
  height: 320px;
}
