.recommendations-container {
  width: 312px;
  height: 365px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Enhanced box shadow
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 10px;
  background-color: white;
  padding: 20px;
  padding-top: 15px;

  .top-part {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px "rgba(0, 0, 0, 0.1)"; // Updated border color

    h2 {
      margin: 0;
      font-size: 16px;
    }
  }

  .divider {
    width: 120%;
    height: 2px;
    background-color: rgba(152, 152, 152, 0.5764705882);
    margin-left: -10%;
  }

  .subheading {
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 14px;
  }

  .tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 45px; /* Set desired height */
    margin: 10px;
    margin-left: 1px;
    margin-right: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    font-size: 14px;
  }

  .content:hover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
  }
  .price {
    color: orange;
    font-weight: bold;
  }
  .savings {
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}
