.recommendations-container {
  width: 350px;
  height: 365px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Enhanced box shadow
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 5px;
  background-color: white;
  padding: 20px;
  padding-top: 5px;

  .top-part {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px "rgba(0, 0, 0, 0.1)"; // Updated border color

    h2 {
      margin: 0;
      font-size: 16px;
    }
  }

  .divider {
    width: 120%;
    height: 2px;
    background-color: rgba(152, 152, 152, 0.5764705882);
    margin-left: -10%;
  }

  .subheading {
    margin-bottom: 0px;
    margin-top: -10px;
    padding-top: -10px;
    padding-bottom: 0px;
    font-size: 14px;
  }
  .tile1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 15px; /* Set desired height */
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    font-size: 12px;
  }
  .titlename {
    font-size: 14x;
    border: 1px solid #ccc;
    height: 15px;
    width: 200px; /* Set desired height */
    margin: 10px;
    margin-left: -19px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    color: #5f249f;
    font-weight: bold;
  }

  // .content:hover {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-end;
  // }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 37px;
    width: 140px;
    text-align: center;
    margin-right: -22px;
  }
  .price {
    color: orange;
    font-weight: bold;
  }
  .savings {
    color: #5f249f;
    font-weight: bold;
  }
  .title1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 15px;
    color: #5f249f;
  }

  // &:hover {
  //   transform: translateY(-3px); // Add a subtle lift effect on hover
  //   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  // }
}
