.heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  color: #5f249f;
  position: relative;
  top: -2.4rem; /* Pull the heading above the box */
}
.top-part {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px "rgba(0, 0, 0, 0.1)"; // Updated border color

  h2 {
    margin: 0;
    font-size: 16px;
  }
}

.subheading {
  margin-bottom: 0px;
  margin-top: -10px;
  padding-top: -10px;
  padding-bottom: 0px;
  font-size: 0.9rem;
  position: relative;
  top: -10px
}
.tile1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 10px;
  width: 90%;
  height: 5.5vh; /* Set desired height */
  margin: 0.1rem;
  margin-left: 1rem;
  font-size: 12px;
}
.titlename {
  font-size: 0.8rem;
  border: 1px solid #ccc;
  height: 3vh;
  width: 100%; /* Set desired height */
  margin-left: -19px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  color: #5f249f;
  font-weight: bold; 
}

.tile1:hover {
  background-color: white;
  transform: translateY(-3px);
  color: #5f249f;
}


// .content:hover {
//   display: flex;
//   flex-direction: column;
//   // align-items: flex-end;
// }

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 6.5vh;
  width: 40%;
  text-align: center;
  margin-right: -1.4rem;
}
.price {
  color: orange;
  font-weight: bold;
}
.savings {
  color: #5f249f;
  font-weight: bold;
}

.total-savings {
  // height: 0.1vh;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure vertical alignment */
}

.total-savings-text {
  color: #5f249f;
  text-align: left; /* Align text to the left */
  font-size: 0.9rem;
}

.total-savings-amount {
  color: orange;
}

@media (max-width: 599px)
{
  .total-savings-text,.total-savings-amount{
    margin-top: 1rem !important;
  }
}

@media (min-width: 667px) and (max-width:668px)
{
  .content{
    height: 8.5vh;
  }
  .savings{
    white-space: nowrap;
  }

  .total-savings-amount,.total-savings-text,.price{
    margin-top: 0rem;
    font-size: 0.9rem;
  }
  .price{
    font-size: 0.8rem !important;
  }
  .tile1{
   height: 5vh;
   margin-bottom: 5px;
  }
  .subheading{
    font-size: 0.8rem;
    margin-top: -1.5rem;
  }
   .titlename{
    font-size: 0.7rem;
   }
}

@media (max-width: 998px)
{
  .total-savings-text ,.total-savings-amount{
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .savings,.titlename{
    font-size: 0.7rem;
  }
  .subheading{
    margin-top: -1.5rem;
  }
  .content{
    height: 8vh;
  }

}

@media (max-width: 1000px)
{
  .total-savings{
    margin-top: -2rem;
  }
}
@media(max-width:400px){
  .content{
    height: 6vh !important;
  }
  .tiles{
    margin-top: 1rem;
  }
  .content{
    font-size: 0.74rem !important;
}
}
 
@media (min-width :768px) and (max-width:768px){
  .content{
    height: 5vh;
  }
  .price{
    font-size: 0.9rem !important;
  }
}

@media (min-width:1600px){
  .content{
    height: 5.2vh;
  }
}