.Subheader-Container {
  width: 95%;
  margin: 0px 58px;
  padding: 5px 0;
  background-color: white;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure alignment in one line */
}

.Subheader-TitleContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  color: #5f249f;
  font-weight: bold;
  margin-right: 50px;
  gap: 25px;
}

.Subheader-Boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.Filter-Options-Row {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust space between filter options */
  width: 100%; /* Ensure options take full width */
  padding: 0; /* Remove extra padding */
}

.filter-option-inline {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align labels */
  flex: 1; /* Allow the filter options to take available space */
}

.filter-option-inline label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px; /* Space between label and select */
}

.Subheader-Buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 50px; /* Space between filters and buttons */
}

.Subheader-Buttons .apply-button {
  background-color: #5f249f;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  min-width: 70px;
  margin-bottom: 5px; /* Space between Apply and Reset */
}

.Subheader-Buttons .reset-button {
  background-color: #ccc;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  min-width: 70px;
}
