.total-subscriptions-container {
  width: 468px;
  height: 110px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  //padding-right: px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Enhanced box shadow
  font-size: 14px;

  .top-part {
    width: 100%;
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 14px;
    color: #5f249f;
    border-bottom: 2px solid #98989893; // Updated border color
    font-size: 16px;
    margin-left: 0px;
  }

  .bottom-part {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2px;
    margin-left: 3px;

    .subscription {
      display: flex;
      flex-direction: column;

      .icon {
        display: inline-block;
        margin-right: 5px;
        height: 1.5em;
      }

      .number {
        font-size: 1.5em;
        line-height: 1.1em;
        margin-right: 5px;
        vertical-align: super;
      }
    }
  }

  &:hover {
    transform: translateY(-3px); // Add a subtle lift effect on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Enhanced box shadow on hover
  }
}
