.subscription-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 110px;
  color: #5f249f;
}

.total-subscriptions-container {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 5px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
  font-size: 16px;
  padding: 10px;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subscription {
  display: flex;
  flex-direction: column;
}
.number {
  margin-left: 95px;
}
.subscription-text {
  margin-left: 40px;
}
