/* consumptionHighlights.css */
.consumption-wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 10px;
  background-color: white;
  // padding: 20px;
}

.consumption-header {
  // margin-bottom: 10px;
  text-justify: left;
  font-size: 16px;
}

.consumption-line {
  width: 100%;
  opacity: 2;
  height: 1.8px;
  background-color: rgba(152, 152, 152, 0.5764705882);
  margin-top: -8px;
}

.tiles-wrapper {
  display: flex;
  justify-content: space-between; /* Distribute space between tiles and chart */
}

.tiles-container {
  width: calc(56% - 20px); /* Adjust the width as needed */
  padding-right: 20px; /* Add padding to the right to create space between tiles and chart */
}

.chart-container {
  width: calc(44% - 20px); /* Adjust the width as needed */
  padding-left: 20px; /* Add padding to the left to create space between tiles and chart */
}



.tile {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price {
  color: orange;
  font-weight: bold;
}

// .tile {
//   margin-bottom: 10px;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   width: 100%;
// }

.tile-heading {
  font-weight: bold;
}

.tile-low-opacity {
  opacity: 0.5;
}

// .chart-container {
//   flex: 1;
//   margin-left: 20px; /* Add some gap between tiles and chart */
// }

.chart-title {
  font-size: 14px; /* Adjust font size as needed */
  text-align: center; /* Center-align the text */
}

@media (max-width: 768px) {
  .consumption-wrapper {
    flex-direction: column;
  }
  
  .tiles-wrapper {
    flex-direction: column;
  }
  
  .tiles-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
